<!DOCTYPE html>
<html>
<head>
<body>
{{>header}}
<p>Ye ek error message hai aap ke liiye.
 Aap ki galat harkaton ki wajah se aapko error aaya.
</p>
{{errorMessage}}
{{>footer}}
</body>
</head>
</html>